
.el-input.is-active .el-input__inner,
.el-input__inner:focus,
.el-select .el-input__inner:focus
  border-color #bda879 !important

.el-select .el-input.is-focus .el-input__inner
  border-color #bda879 !important

.el-select-dropdown__item.selected
  color #a67737 !important
