.kalix-search
  background-color #ffffff
  margin-bottom 10px
  .kalix-search-hd
    background-color #a8967d
    color #ffffff
    line-height 44px
    padding 0 15px
    text-align left
  .kalix-search-bd
    border-top 1px solid border-color_1
    font-size 0
    padding 10px
    text-align left
    .kalix-search-wrapper
      float left
    .search-container
      margin-bottom -10px
  .el-form-item
    margin-right 10px
    margin-bottom 10px
  .el-button
    .iconfont
      font-size 14px
