.login
  height 100%
  width 100%
  position fixed
  top 0
  left 0
  background 50% 50% url("../images/login_oa_bg.jpg") no-repeat
  background-size cover
  .from-warpper
    position fixed
    top 43%
    width 100%
    left 0;
    transform translate3d(0, -50%, 0)
    .form
      margin 0 auto
      width 380px
    .logo
      width 100%
      height 159px
      background-image url("../images/login_oa_top.png")
    .loginForm
      position relative;
      margin-left 0
      padding-top 32px

    .btn-submit
      display block
      width 100%
      background url("../images/button-bg.png") 50% 50% no-repeat;
      border none
      color #5c4611
      height 42px
    .icon-user,
    .icon-lock
      display block
      width 21px
      height 100%
      background 50% 50% no-repeat
    .icon-user
      background-image url("../images/icon-user.png")
    .icon-lock
      background-image url("../images/icon-lock.png")
    .el-form-item
      margin-bottom 0px
      &:last-child
        margin-top 16px
    .kalix-form-item
      & + .kalix-form-item
        margin-top 13px
      .el-input__inner
        height 46px
        border-color #d8dce5 !important
      &.is-success
        .el-input__inner
          border-color #d8dce5 !important
      &.is-error
        .el-input__inner
          border-color #bca878 !important
          box-shadow 0px 0px 6px rgba(188, 168, 120, 0.46)
        .el-form-item__error
          padding 0 0 0 22px
          line-height: 32px;
          background url("../images/icon-warning.png") 0 50% no-repeat
          color: #fe00000
    .error-message
      background url("../images/icon-warning.png") 0 50% no-repeat
      position absolute
      top 6px
      left 0
      line-height 18px
      color #fe0000
      font-size 14px
      padding-left: 24px;
